$background: #ffffff;
$highlight: #eeeeee;
$invis: rgba(0,0,0,0);
$text: #000000;

@font-face {
  font-family: 'defaultText';
  src: url('./fonts/Avenir.otf');
}

body {
  margin: 0;
  background-color: $background;
  font-family: defaultText;
  nav {
    position: fixed;
    background-color: $background;
    width: 100vw;
    margin: 0;
    border-bottom: 1px solid $highlight;
    ul {
      display: flex;
      justify-content: space-around;
      list-style: none;
      margin: 0;
      padding: 0;
      a {
        z-index: 1;
        text-decoration: none;
        color: $text;
        :hover {
          background-color: $highlight;
        }
        li {
          z-index: 1;
          background-color: $background;
          width: 33vw;
          padding: 10px 0;
          text-align: center;
        }
      }
    }
  }

  section {
    margin: 10vh 10vw;
    width: 80vw;
    div {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      img {
        width: 40%;
        height: 100%;
        border: solid 1px #eeeeee;
        margin: 5px;
        @media (max-width: 415px) {
          width: 100%;
          margin: 5px 0;
        }
      }
      img:hover {
        opacity: 0.5;
      }
    }
    article {
      margin: 50px 10% 0;
      @media (max-width: 415px) {
        margin: 50px 0 0;
      }
      h3 {
        display: flex;
        justify-content: space-between;
        span {
          font-size: 1.5em;
          i {
            color: grey;
          }
          i:hover {
            color: black;
          }
        }
      }
      img {
        width: 100%;
      }
    }
    div.links {
      flex-wrap: nowrap;
      a {
        margin: 20px 50px;
        :hover {
          opacity: 0.5;
        }
        img {
          height: 80px;
          width: 80px;
          border: none;
        }
      }
    }
  }
}

.parallax {
  height: 70vh;
  background-attachment: fixed;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: flex-end;
  @media (max-width: 415px) {
    background-attachment: scroll;
    background-size: auto;
  }
}

.prlx-1 {
  background-image: url(./images/parallax/jakob-owens.jpg);
  height: 90vh;
  h1 {
    color: $background;
    font-size: 3em;
    margin: 10px;
  }
}

.prlx-2 {
  background-image: url(./images/parallax/david-clode.jpg);
}

.prlx-3 {
  background-image: url(./images/parallax/uriel-soberanes.jpg);
}

.hidden {
  display: none;
}
